<!DOCTYPE html>
<html>
<head>
    <title>RespyManager</title>
{#    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap/css/bootstrap.css">#}
    <!-- Optional theme -->
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

   <!-- Latest compiled and minified JavaScript -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
 <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="navbar">
    <a class="navbar-brand" href="#">RespyManager</a>
    <ul class="nav navbar-nav">
        <li class="active">
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/dashboard">Dashboard</a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Relatórios
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/aluguel-report">Aluguéis</a></li>
            </ul>
        </li>
        <li>
            <a href="/admin">Admin</a>
        </li>
    </ul>
</div>


<div class="container">
    {% block content %}

    {% endblock %}
</div>

<hr/>
<footer class="bs-docs-footer jumbotron">
    <div class="container">

        <div class="mastfoot">
            <div class="inner">

                <p>Criado por
                    <a href="https://twitter.com/murilo_mittmann" target="_blank">@murilo_mittmann</a>,
                    <a href="https://twitter.com/gustavodasneves" target="_blank">@gustavodasneves</a>.</p>

                <ul class="bs-docs-footer-links muted list-unstyled">
                    <li>Currently v0.1 Alfa</li>
                    <li><a href="https://github.com/gustavodasneves/ResPyManager">GitHub</a></li>


                </ul>
            </div>
        </div>
    </div>
</footer>
<script>$('.dropdown-toggle').dropdown()</script>
</body>
</html>